@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0px;
    font-family: "Space Grotesk", sans-serif;
}

body{
    background-color: #2C3338;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.button_inserir {
    border: none;
    text-decoration: none;
    background-color: #7413F0;
    border-radius: 12px;
    width: 100px;
    height: 50px;
    color: white;
}

.button_inserir:hover{
    transition: all 0.4s;
    background-color: #5A0FB9;
}

.button_inserir {
    color: white;
    font-size: 12pt;
    text-align: center;

}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
} 

.formulario label{
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    justify-items: self-start;
}

.formulario input{
    border: none;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 12px;
}


.buttuns{
    margin-top: 30px;
}