table, td, th, tr {
    border: 2px white solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

table {
    max-width: 840px; 
    max-height: 600px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.272);
    align-items: center;
}

.content {
    width: 100%;
    max-height: 600px;
    max-width: 1000px; 
    overflow-y: auto; 
    margin: 0 auto;
    margin-top: 20px;
}

tr:nth-child(even) {
    background-color: rgb(136, 136, 136);
}

tr:nth-child(odd) {
    background-color: rgba(186, 186, 186, 0.153);
}

th {
    background-color: rgba(4, 19, 0, 0.968);
    color: white;
    font-weight: bold;
}



.table-container::-webkit-scrollbar {
    display: none;
}
  
thead {
    position: sticky;
    top: 0;
    background-color: rgba(4, 19, 0, 0.968); /* Ajuste a cor de fundo conforme necessário */
    z-index: 1; /* Certifique-se de que o cabeçalho permaneça acima do conteúdo rolável */
}

.error_busca {
    align-items: center;
    text-align: center;
    color: rgb(98, 56, 224);
    font-size: large;
}

.error_busca p{
    border: 1px solid;
}

.button_acao{
    border: none;
    text-decoration: none;
    background-color: #7413F0;
    border-radius: 12px;
    width: 70px;
    height: 30px;
    color: white;
}

.button_acao:hover{
    transition: all 0.4s;
    background-color: #5A0FB9;
}