*{
    margin: 0px;

    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    
    background-color: #1C2541;
    
}


.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 20px;

}

.conteudo h2 {
    color: white;
    font-size: 30pt;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.conteudo h3{
    margin: 10px;
    color: white;
    font-size: 20pt;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.conteudo button{
    margin: 10px;
    border: none;
    text-decoration: none;
    background-color: #5BC0BE;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 12px;
}

.conteudo button:hover{

    transition: 0.2s;
    background-color: #44bcba80;

}

.button_header button {
    border: none;
    text-decoration: none;
    background-color: #5BC0BE;
    border-radius: 12px;
    width: 125px;
    height: 50px;
}

.button_header button:hover{
    transition: all 0.4s;
    background-color: #44bcba80;
}

.button_header p {
    color: white;
    font-size: 16pt;
    text-align: center;

}

.conteudo_index{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img_logo_login {
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100vh;
    align-items: center;
    justify-content:flex-start;
}

.img_logo_login h1 {
    font-size: 50px;
    color:white;
    font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}